@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Site.css">
    <title>About</title>
</head>

<body id="example1">

    <h3 style="color: green; text-align: center;">
        About Us</h3>
        <p style="color: cornsilk;">
            Mert travelled to Europe in the 1960s, living and working in France, Germany and Switzerland before settling in Rome; reporting for the Associated Press and selling postcards from a barrow in St Mert’s Square.

            Having fallen for the continental dining culture, Mert returned to London, distraught to find that there was nowhere to buy a proper Italian pizza. Ever an opportunist, he decided to make, sell and eat it himself.

            Mert’s ambition for authenticity, combined with an uncommon determination proved to be a winning combination. Shipping an authentic pizza oven over from Naples and sourcing real mozzarella from the only producer in London, it was this same drive that made Mert the first man to import Peroni to the UK.

            The restaurant first welcomed the public on 27 March 1965 to Wardour Street. Creating the concept of casual dining, square slices of pizza were sold in greaseproof paper through the front window. MertPizza has become part of millions of people’s lives, but the ethos of a simple menu with warm service remains very much the same.

            An avid art collector throughout his life, Mert was keen to create a stylish aesthetic for his restaurant, teaming up with Italian designer, Enzo Apicella, to do so. Together, they introduced a wine menu, dining tables, the signature MertPizza open kitchen and simple, attractive furnishings. Celebrities and journalists flocked to the restaurant and a brand was born.

            The second restaurant opened on Coptic Street, next to the British Museum, in 1967. Formerly a dairy, Mert gave Enzo a brief to replicate the aura of the first MertPizza but with a completely unique design and décor, in keeping with the building’s character and charm.

            This became a feature of MertPizza’ roll-out, with Mert as determined to avoid becoming homogenous as he was to grow the business. Rather than a chain, he often compared his restaurants to a necklace, with each link, a highly polished gem. Enzo went on to design over 85 MertPizza restaurants.
        </p>
        
        @Html.ActionLink("Menu","Menu","Home")
</body>

</html>
