@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<link rel="stylesheet" href="Site.css">

<body style="background-color: black">

    <img src="~/img/lg.png" style="width:160px;" />
    <br>
    <img src="~/img/pizza.jpg" style="width:100%;">
    <img src="~/img/5d25cdf967b0a90c800e1e4d.jpg" style="width:100%;">
    <img src="~/img/5f9c24c00f25442cb0cd76c1.jpg" style="width:100%;">
    <div class="contact">
        <address>
            Menderes Mah. 325 sokak<br />
            Esenler, 34567<br />
            <abbr title="Phone">+4407543242312</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">pizzahots@food.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">pizzahots_market@food.com</a>
        </address>
    </div>
</body>

