
@{
    ViewBag.Title = "Menu";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Site.css">
    <title>Menu</title>
</head>

<body id="section-1-gradient">
    <img src="~/img/menu.PNG" style="width:100%;">
    <p style="color: cornsilk;">@Html.ActionLink("Menu", "Index", "Home")</p>
</body>

</html>

