
@{
    ViewBag.Title = "Index";
}

<img src="~/img/workers.PNG" style="width:100%;">
<h3>About the Workers</h3>
<p>
    Restaurant staff are divided into two groups. “Front of house” workers interact with guests and include servers and bussers. Those in the “back of the house” are much less visible, and include chefs, line workers, and dishwashers.

    The practice of tipping front of house staff creates a unique rift. As a result, who works where is one of the major sources of injustice in the industry. Front of house staff are primarily white, while black and brown and immigrants hold a disproportionate number of the lowest-paid positions in the back of the house.[3] In addition to the economic disparities that this creates, it is also worth asking what it says about the types of faces that employers want visible on the front lines of their companies.
</p>


